<ion-header>
  <ion-navbar color="primary">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{article.name ||  'Nuevo Artículo' }} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onTrash()" *ngIf="article.id">
          <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onSave()" [disabled]="!f.valid">
          <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #f="ngForm">

    <ion-item>
      <ion-label color="primary" stacked>Nombre Artículo</ion-label>
      <ion-input type="text" [(ngModel)]="article.name"
                  name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Categoria</ion-label>
      <ion-select [(ngModel)]="article.category" name="category" required>
          <ion-option *ngFor="let category of categories">{{ category }}</ion-option>        
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="article.description"
                name="description" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Fecha Expiración</ion-label>
      <ion-datetime [(ngModel)]="article.expiration_date" 
                    name="date" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Precio</ion-label>
      <ion-input type="number" [(ngModel)]="article.sale_price" 
                  name="sale_price"></ion-input>
    </ion-item>
                
  </form>
</ion-content>
