<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center;">{{expense.description || 'New Expense' }} </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onTrash()" *ngIf="expense.$key">
          <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onSave()" [disabled]="!f.valid">
          <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #f="ngForm">

    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <div>
            <span ion-datepicker (ionChanged)="setDate($event);" [value]="localDate" [min]="localDate" [full]="false" [calendar]="false"
              clear class="ScheduleDate">
              <span>{{ localDate | date }} <ion-label color="primary" stacked>Date</ion-label> </span>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" [(ngModel)]="expense.date" name="date" required readonly></ion-input></ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label color="primary" stacked>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="expense.amount" name="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Category</ion-label>
      <ion-select [(ngModel)]="expense.category" name="category" required>
        <ion-option *ngFor="let category of categories">
          {{ category }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Description</ion-label>
      <ion-input type="text" [(ngModel)]="expense.description" name="description" required></ion-input>
    </ion-item>
  </form>
</ion-content>